.star{
  width: 100%;
}

.seal{
  width: 100px;
  height: 300px;
  position: absolute;
}

.lycoris{
  width: 100px;
  height: 100px;
  position: absolute;
}

.bird{
  width: 200px;
  height: 200px;
  position: absolute;
}

.tree{
  width: 100%;
}

.border{
  width: 115%;
  height: 100%;
  position: absolute;
  left: -20px;
  top: 0;
  z-index: 0;
}

.item{
  width: 350px;
  height: 450px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.item>video{
  margin-top: 30px;
  width: 92%;
  height: 52%;
}



